name: philo-rag

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama

  ollama-init:
    image: ollama/ollama:latest
    container_name: ollama-init
    depends_on:
      - ollama
    environment:
    - OLLAMA_HOST=http://ollama:11434
    volumes:
      - ollama:/root/.ollama
    entrypoint: >
      sh -c "
      echo 'Waiting for Ollama...' &&
      until ollama list >/dev/null 2>&1; do sleep 1; done &&
      echo 'Pulling model...' &&
      ollama pull llama3.2:3b &&
      echo 'Ollama models ready'
      "
    restart: "no"

  app:
    build: .
    container_name: philo-rag-app
    env_file:
      - .env
    environment:
      - TOKENIZERS_PARALLELISM=true
      - LANGCHAIN_TRACING_V2=false
      - LANGCHAIN_PROJECT=onprem-rag
      - OLLAMA_HOST=http://ollama:11434
    ports:
      - "8501:8501"
    volumes:
      - ./app/agent/chat_history.json:/app/app/agent/chat_history.json
      - ./app/agent/faiss_ei:/app/app/agent/faiss_ei:ro
    depends_on:
      ollama-init:
        condition: service_completed_successfully
    restart: unless-stopped

volumes:
  ollama:
